clippy.build/*
clippy.dist/*
clippy.onefile-build/*
buildexport/*
bin/ff*
clippy.exe
test/*
helpers/__pycache__/*
*.bat
settings.txt
cur-ver.txt
settings.json

latest-release-env/*

regression verification tests/*
regression verification tests 2/*
typings/*
regression_processor.ipynb
regression_summary.csv

clippy.py.bak